@{
    ViewBag.Title = "Index";
}

<head>
    <meta charset="UTF-8">
    @Styles.Render("~/Content/Index")
</head>
<div class="ban">
    <div class="title">歌单推荐</div>
    <div class="classify clearfix">
        <a href="#" class="classify-name active">为你推荐</a>
        <a href="#" class="classify-name">儿歌</a>
        <a href="#" class="classify-name">伤感</a>
        <a href="#" class="classify-name">官方</a>
        <a href="#" class="classify-name">情歌</a>
        <a href="#" class="classify-name">说唱</a>
    </div>
    <div class="classify-list clearfix">
        <div class="classify-item">
            <img src="../../wwwroot/images/user.jpg" alt="Logo" />
            <div class="classify-item-n">论一个演员的自我修养</div>
            <div class="classify-item-num">点播量：120万</div>
        </div>
        <div class="classify-item">
            <img src="../../wwwroot/images/零点.jpg" alt="">
            <div class="classify-item-n">90后如何在KTV优雅的秀唱功</div>
            <div class="classify-item-num">点播量：1375.2万</div>
        </div>
        <div class="classify-item">
            <img src="../../wwwroot/images/可以摆烂咯.jpg" alt="">
            <div class="classify-item-n">抗寒偏方 · 跳入舞池抱团取暖</div>
            <div class="classify-item-num">点播量：2.2万</div>
        </div>
        <div class="classify-item">
            <img src="../../wwwroot/images/凄美地.jpg" alt="">
            <div class="classify-item-n">『古风』 哪一首是你的入坑曲？</div>
            <div class="classify-item-num">点播量：16.2万</div>
        </div>
        <div class="classify-item">
            <img src="../../wwwroot/images/Bye-Bye-Bye.jpg" alt="">
            <div class="classify-item-n">小众但令人迷醉的新西兰男声</div>
            <div class="classify-item-num">点播量：19.4万</div>
        </div>
    </div>
</div>
<div class="ban">
    <div class="title">新歌首发</div>
    <div class="classify clearfix">
        <a href="#" class="classify-name active">新歌</a>
        <a href="#" class="classify-name">内地</a>
        <a href="#" class="classify-name">港台</a>
        <a href="#" class="classify-name">欧美</a>
        <a href="#" class="classify-name">韩国</a>
        <a href="#" class="classify-name">日本</a>
    </div>
    <div class="newMusic clearfix">
        <div class="newMusic-item">
            <div class="newM-item clearfix">
                <div class="newM-item-lg">
                    <img src="../../wwwroot/images/可以摆烂咯.jpg" alt="">
                </div>
                <div class="newM-item-con">
                    <div>蓝</div>
                    <div class="grey">陆定昊</div>
                </div>
                <div class="newM-rg">
                    03:24
                </div>
            </div>
            <div class="newM-item clearfix">
                <div class="newM-item-lg">
                    <img src="../../wwwroot/images/user.jpg" alt="">
                </div>
                <div class="newM-item-con">
                    <div>첫눈 (with 산다라박)</div>
                    <div class="grey">朴春 (박봄) / Dara (다라)</div>
                </div>
                <div class="newM-rg">
                    03:52
                </div>
            </div>
            <div class="newM-item clearfix">
                <div class="newM-item-lg">
                    <img src="../../wwwroot/images/Bye-Bye-Bye.jpg" alt="">
                </div>
                <div class="newM-item-con">
                    <div>为你而来《梦回》网剧主题曲</div>
                    <div class="grey">袁娅维</div>
                </div>
                <div class="newM-rg">
                    04:26
                </div>
            </div>
        </div>
        <div class="newMusic-item">
            <div class="newM-item clearfix">
                <div class="newM-item-lg">
                    <img src="../../wwwroot/images/Moshi-Moshi.jpg" alt="">
                </div>
                <div class="newM-item-con">
                    <div>陪你去流浪</div>
                    <div class="grey">薛之谦</div>
                </div>
                <div class="newM-rg newM-right">
                    04:34
                </div>
            </div>
            <div class="newM-item clearfix">
                <div class="newM-item-lg">
                    <img src="../../wwwroot/images/Under_Over.jpg" alt="">
                </div>
                <div class="newM-item-con">
                    <div>グリム</div>
                    <div class="grey">majiko (まじ娘)</div>
                </div>
                <div class="newM-rg newM-right">
                    04:11
                </div>
            </div>
            <div class="newM-item clearfix">
                <div class="newM-item-lg">
                    <img src="../../wwwroot/images/Under_Over.jpg" alt="">
                </div>
                <div class="newM-item-con">
                    <div>你说的都对</div>
                    <div class="grey">小凤九</div>
                </div>
                <div class="newM-rg newM-right">
                    03:35
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ban">
    <div class="title">精彩推荐</div>
    <div class="recommend clearfix">
        <div class="recomment-item">
            <img src="../../wwwroot/images/music-bg.gif" alt="">
        </div>
        <div class="recomment-item">
            <img src="../../wwwroot/images/music-bg.gif" alt="">
        </div>
    </div>
    <div class="recommend clearfix">
        <div class="recomment-item recomment-item1">
            <img src="../../wwwroot/images/music-bg.gif" alt="">
        </div>
        <div class="recomment-item recomment-item1">
            <img src="../../wwwroot/images/music-bg.gif" alt="">
        </div>
        <div class="recomment-item recomment-item1">
            <img src="../../wwwroot/images/music-bg.gif" alt="">
        </div>
        <div class="recomment-item recomment-item1">
            <img src="../../wwwroot/images/music-bg.gif" alt="">
        </div>
    </div>
</div>
<div class="ban">
    <div class="title">新碟首发</div>
    <div class="classify clearfix">
        <a href="#" class="classify-name active">内地</a>
        <a href="#" class="classify-name">港台</a>
        <a href="#" class="classify-name">欧美</a>
        <a href="#" class="classify-name">韩国</a>
        <a href="#" class="classify-name">日本</a>
        <a href="#" class="classify-name">其他</a>
    </div>
    <div class="classify-list clearfix">
        <div class="classify-item1">
            <img src="../../wwwroot/images/user.jpg" alt="">
            <div class="classify-item-n">星宿</div>
            <div class="classify-item-num">徐均朔</div>
        </div>
        <div class="classify-item1">
            <img src="../../wwwroot/images/user.jpg" alt="">
            <div class="classify-item-n">我想</div>
            <div class="classify-item-num">AFar陈侣帆 / Vinz T</div>
        </div>
        <div class="classify-item1">
            <img src="../../wwwroot/images/user.jpg" alt="">
            <div class="classify-item-n">三十王十三</div>
            <div class="classify-item-num">王啸坤</div>
        </div>
        <div class="classify-item1">
            <img src="../../wwwroot/images/user.jpg" alt="">
            <div class="classify-item-n">水形物语</div>
            <div class="classify-item-num">NoSleep Child 失眠少年</div>
        </div>
        <div class="classify-item1">
            <img src="../../wwwroot/images/user.jpg" alt="">
            <div class="classify-item-n">Twilight（黎明）</div>
            <div class="classify-item-num">PRC 巴音汗</div>
        </div>
        <div class="classify-item1">
            <img src="../../wwwroot/images/user.jpg" alt="">
            <div class="classify-item-n">On My Trip</div>
            <div class="classify-item-num">GBZ / LEGGO</div>
        </div>
        <div class="classify-item1">
            <img src="../../wwwroot/images/user.jpg" alt="">
            <div class="classify-item-n">昨天</div>
            <div class="classify-item-num">新声主义</div>
        </div>
        <div class="classify-item1">
            <img src="../../wwwroot/images/可以摆烂咯.jpg" alt="">
            <div class="classify-item-n">你的世界</div>
            <div class="classify-item-num">傅梦彤 / 安苏羽</div>
        </div>
        <div class="classify-item1">
            <img src="../../wwwroot/images/可以摆烂咯.jpg" alt="">
            <div class="classify-item-n">人间过客</div>
            <div class="classify-item-num">乔洋 / 黄静美</div>
        </div>
        <div class="classify-item1">
            <img src="../../wwwroot/images/可以摆烂咯.jpg" alt="">
            <div class="classify-item-n">梦半</div>
            <div class="classify-item-num">王北车</div>
        </div>
    </div>
</div>