@{
    ViewBag.Title = "Index";
}

<head>
    <meta charset="UTF-8">
    @Styles.Render("~/Content/Index")
</head>
<div class="ban">
    <div class="title">Playlist recommendations</div>
    <div class="classify clearfix">
        <a href="#" class="classify-name active">Recommended for you</a>
        <a href="#" class="classify-name">nursery rhyme</a>
        <a href="#" class="classify-name">Sad</a>
        <a href="#" class="classify-name">official</a>
        <a href="#" class="classify-name">love song</a>
        <a href="#" class="classify-name">rap</a>
    </div>
    <div class="classify-list clearfix">
        <div class="classify-item">
            <img src="../../wwwroot/images/Head-1.jpg" alt="Logo" />
            <div class="classify-item-n">On the self-cultivation of an actor</div>
            <div class="classify-item-num">On-demand: 1.2 million</div>
        </div>
        <div class="classify-item">
            <img src="../../wwwroot/images/Head-2.jpg" alt="">
            <div class="classify-item-n">How the post-90s generation shows off their singing skills elegantly in KTV</div>
            <div class="classify-item-num">On-demand: 13.752 million</div>
        </div>
        <div class="classify-item">
            <img src="../../wwwroot/images/Head-3.jpg" alt="">
            <div class="classify-item-n">Cold Remedies · Jump on the dance floor and huddle to warm up</div>
            <div class="classify-item-num">On-demand: 22,000</div>
        </div>
        <div class="classify-item">
            <img src="../../wwwroot/images/Head-4.jpg" alt="">
            <div class="classify-item-n">『Ancient Style』Which one is your pit song?</div>
            <div class="classify-item-num">On-demand: 162,000</div>
        </div>
        <div class="classify-item">
            <img src="../../wwwroot/images/Head-5.jpg" alt="">
            <div class="classify-item-n">Niche but intoxicating New Zealand male voices</div>
            <div class="classify-item-num">On-demand: 194,000</div>
        </div>
    </div>
</div>
<div class="ban">
    <div class="title">The new song debuted</div>
    <div class="classify clearfix">
        <a href="#" class="classify-name active">Song</a>
        <a href="#" class="classify-name">outback</a>
        <a href="#" class="classify-name">Hong Kong and Taiwan</a>
        <a href="#" class="classify-name">Europe</a>
        <a href="#" class="classify-name">Korea</a>
        <a href="#" class="classify-name">Japan</a>
    </div>
    <div class="newMusic clearfix">
        <div class="newMusic-item">
            <div class="newM-item clearfix">
                <div class="newM-item-lg">
                    <img src="../../wwwroot/images/Listen.jpg" alt="">
                </div>
                <div class="newM-item-con">
                    <div>Blue</div>
                    <div class="grey">Lu Dinghao</div>
                </div>
                <div class="newM-rg">
                    03:24
                </div>
            </div>
            <div class="newM-item clearfix">
                <div class="newM-item-lg">
                    <img src="../../wwwroot/images/Magdalena.jpg" alt="">
                </div>
                <div class="newM-item-con">
                    <div>첫눈 (with 산다라박)</div>
                    <div class="grey">Pu Chun (박봄) / Dara (다라)</div>
                </div>
                <div class="newM-rg">
                    03:52
                </div>
            </div>
            <div class="newM-item clearfix">
                <div class="newM-item-lg">
                    <img src="../../wwwroot/images/Meet.jpg" alt="">
                </div>
                <div class="newM-item-con">
                    <div>For you</div>
                    <div class="grey">Yuan Yawei</div>
                </div>
                <div class="newM-rg">
                    04:26
                </div>
            </div>
        </div>
        <div class="newMusic-item">
            <div class="newM-item clearfix">
                <div class="newM-item-lg">
                    <img src="../../wwwroot/images/Winter.jpg" alt="">
                </div>
                <div class="newM-item-con">
                    <div>Accompany you to wandering</div>
                    <div class="grey">Xue Zhiqian</div>
                </div>
                <div class="newM-rg newM-right">
                    04:34
                </div>
            </div>
            <div class="newM-item clearfix">
                <div class="newM-item-lg">
                    <img src="../../wwwroot/images/Jpan.jpg" alt="">
                </div>
                <div class="newM-item-con">
                    <div>グリム</div>
                    <div class="grey">majiko (まじ娘)</div>
                </div>
                <div class="newM-rg newM-right">
                    04:11
                </div>
            </div>
            <div class="newM-item clearfix">
                <div class="newM-item-lg">
                    <img src="../../wwwroot/images/Space.jpg" alt="">
                </div>
                <div class="newM-item-con">
                    <div>You're right</div>
                    <div class="grey">Xiao Feng Jiu</div>
                </div>
                <div class="newM-rg newM-right">
                    03:35
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ban">
    <div class="title">Wonderful recommendation</div>
    <div class="recommend clearfix">
        <div class="recomment-item">
            <img src="../../wwwroot/images/Night.jpg" alt="">
        </div>
        <div class="recomment-item">
            <img src="../../wwwroot/images/music-bg.gif" alt="">
        </div>
    </div>
    <div class="recommend clearfix">
        <div class="recomment-item recomment-item1">
            <img src="../../wwwroot/images/Bottom-2.jpg" alt="">
        </div>
        <div class="recomment-item recomment-item1">
            <img src="../../wwwroot/images/Bottom-3.jpg" alt="">
        </div>
        <div class="recomment-item recomment-item1">
            <img src="../../wwwroot/images/Bottom-4.jpg" alt="">
        </div>
        <div class="recomment-item recomment-item1">
            <img src="../../wwwroot/images/Bottom-5.jpg" alt="">
        </div>
    </div>
</div>
<div class="ban">
    <div class="title">New disc debut</div>
    <div class="classify clearfix">
        <a href="#" class="classify-name active">outback</a>
        <a href="#" class="classify-name">Hong Kong and Taiwan</a>
        <a href="#" class="classify-name">Europe</a>
        <a href="#" class="classify-name">Korea</a>
        <a href="#" class="classify-name">Japan</a>
        <a href="#" class="classify-name">other</a>
    </div>
    <div class="classify-list clearfix">
        <div class="classify-item1">
            <img src="../../wwwroot/images/Head-2.jpg" alt="">
            <div class="classify-item-n">constellation</div>
            <div class="classify-item-num">Xu Junshuo</div>
        </div>
        <div class="classify-item1">
            <img src="../../wwwroot/images/Foot-2.jpg" alt="">
            <div class="classify-item-n">I think</div>
            <div class="classify-item-num">AFar Chen Lufan / Vinz T</div>
        </div>
        <div class="classify-item1">
            <img src="../../wwwroot/images/Foot-3.jpg" alt="">
            <div class="classify-item-n">Thirty Kings XIII</div>
            <div class="classify-item-num">Wang Xiaokun</div>
        </div>
        <div class="classify-item1">
            <img src="../../wwwroot/images/Foot-4.jpg" alt="">
            <div class="classify-item-n">The Shape of Water</div>
            <div class="classify-item-num">NoSleep Child Insomnia teenager</div>
        </div>
        <div class="classify-item1">
            <img src="../../wwwroot/images/Foot-5.jpg" alt="">
            <div class="classify-item-n">Twilight（黎明）</div>
            <div class="classify-item-num">PRC 巴音汗</div>
        </div>
        <div class="classify-item1">
            <img src="../../wwwroot/images/Foot-6.jpg" alt="">
            <div class="classify-item-n">On My Trip</div>
            <div class="classify-item-num">GBZ / LEGGO</div>
        </div>
        <div class="classify-item1">
            <img src="../../wwwroot/images/Foot-7.jpg" alt="">
            <div class="classify-item-n">Yesterday</div>
            <div class="classify-item-num">New Voiceism</div>
        </div>
        <div class="classify-item1">
            <img src="../../wwwroot/images/Foot-8.jpg" alt="">
            <div class="classify-item-n">Your world</div>
            <div class="classify-item-num">Fu Mengtong / An Suyu</div>
        </div>
        <div class="classify-item1">
            <img src="../../wwwroot/images/Foot-9.jpg" alt="">
            <div class="classify-item-n">A passer-by in the world</div>
            <div class="classify-item-num">Qiao Yang / Huang Jingmei</div>
        </div>
        <div class="classify-item1">
            <img src="../../wwwroot/images/Foot-10.jpg" alt="">
            <div class="classify-item-n">Dream half</div>
            <div class="classify-item-num">Wang Beiche</div>
        </div>
    </div>
</div>
<div class="validator">
    <a href="https://validator.w3.org/nu/?doc=http://localhost:52744/Home/Index">VerifyHTML5</a>
    <a href="https://jigsaw.w3.org/css-validator/validator?uri=http://localhost:52744/Content/index.css">VerifyCSS3</a>
</div>